

/* .title {

    color : rgb(207,181,59);
    font-size: 200%;
    margin-right: 4%;
    margin-left: 2%; */
    /* font-weight: bold; */

/* }    */
/* .bg-light {
    background-color: #f8f9fa!important;
    width: 1349px !important;
}
button.btn.btn-primary.btn-link.nav-item {
    margin-left: auto;
} */

/* .liens{
color : rgb(138, 137, 137);
list-style-type: none;
display: flex;
text-decoration:none; 
margin-top:1%; */
/* margin-right: 4%; */

/* } */
/* h6:hover{

    color: rgb(207,181,59);
}
  */
/* h6 {
margin-left: 7%;
cursor: pointer;
font-size: 120%;
text-decoration: none !important; */
/* font-weight: bold; */
/* } */



/* .form-inline
{
    margin-left: 26%   !important;
}

a.btn.btn-sm.btn-outline-secondary  {
    margin-right: 15px !important;
} */

.nav.navbar.navbar-expand-lg.navbar-light.bg-light {

margin-top: 0%;
margin-bottom: 0%;}
