
body {
    margin: 0;
    color: rgb(216, 215, 211);
    font: 600 16px/18px 'Open Sans', sans-serif;
    border-style : hidden;
    outline: none;



}

.login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 1280px;
    position: relative;
    /* background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center; */
    box-shadow: 0 12px 15px 0 rgb(207,181,59), 0 17px 50px 0 rgb(207,181,59)
}

.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    /* background: rgba(0, 77, 77, .9) */
    border-style : hidden;
    outline: none;


}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .8s linear;
    border-style : hidden;
    outline: none;


}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none;
    border-style : hidden;
    outline: none;


}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase;
    border-style : hidden;
    outline: none;



}


.input {

    border-style: hidden;
    outline: none;

}

.login-snip .tab {
    font-size: 15;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    /* border-bottom: 2px solid transparent; */
    cursor: pointer;
    border-style : hidden;
    outline: none;



}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color:rgb(207,181,59)   ;
    /* border-color: #91064b */
    border-style : hidden;
    outline: none;


}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-style : hidden;
    outline: none;


}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: rgb(109, 108, 108);
    display: block;
    border-style : hidden;
    outline: none;

}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(26, 124, 47, 0.1);
    border-style : hidden;
    outline: none;

}

.login-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
    border-style : hidden;
    outline: none;


}

.login-space .group .label {
    color: rgb(185, 184, 184);
    font-size: 12px;
    border-style : hidden;
    outline: none;


}

.login-space .group .button {
    background: rgb(173, 153, 63);
    border-style : hidden;
    outline: none;


}

.login-space .group label .icon {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    /* background: rgba(179, 13, 13, 0.1) */
    border-style : hidden;
    outline: none;


}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: rgb(207,181,59);
    position: absolute;
    transition: all .2s ease-in-out 0s;
    border-style : hidden;
    outline: none;


}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
    border-style : hidden;
    outline: none;


}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
    border-style : hidden;
    outline: none;


}

.login-space .group .check:checked+label {
    /* color: #fff */
    border-style : hidden;
    outline: none;


}

.login-space .group .check:checked+label .icon {
    /* background: #1161ee */
    border-style : hidden;
    outline: none;


}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
    border-style : hidden;
    outline: none;


}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
    border-style : hidden;
    outline: none;


}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}


:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot:hover  {
    text-align: center;
    color : rgb(207,181,59),
}

.card {
    width: 500px;
    left: 100px;
    margin-left: 4%;
    margin-top: 9%;
}

::placeholder {
    color: #b3b3b3
}


.pic {

    width: 91%;
    height: 57%;
    margin-top: 6%;
    margin-left: 4%;
}

.ensemble {

    display: flex;
}


.login {

    border-style: none !important;
}